/*slector de etiqueta*/
*{
	margin: 0;
}
a {
	text-decoration:none;
}
ul {
	list-style-type: none;
}
body{
	padding-bottom: 5.7em;
	background: #e6e6e6;
}

.header-container {
	font-family: 'Poppins', sans-serif;

}
.top-header{
	background: white;
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 3px
}
.information{
	grid-area: right;
	font-size: 13px;
}
.information li {
	display: inline;

}
.facebook-logo{
	width: 20px
}
.bottom-header {
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	padding: 5px 15em;
	font-family: 'Oswald', sans-serif;
	background: #f2f2f2;
}
 #header .logotipo {
	font-size: 30px;
	color: gray;
}

#logotipo .letra-color{
	color: purple;
	font-size: 30px
}
#logotipo .letra{
	font-family: 'Poppins', sans-serif;
	color: black;
	font-size: 10px;
}
.prueba {
	color: gray;
	font-size: 30px;
}
.nav-menu nav ul li {
	display: inline-grid;
	color: black;
}
.nav-menu nav ul li a{
	color: black;
	font-size: 13px;
	padding: 5px 1.5em;
}

.search-nav nav ul li {
	display: inline-grid;
	font-family: 'Poppins', sans-serif;
}
.login{
	background: #797979;
	padding: 15px 10px;
	color: white;
}
.register{
	background: #494949;
	padding: 15px 10px;
	color: white;
}
.search{
	background: black;
	padding: 15px 10px;
}
.search img {
	width: 18px
}


/* Seccion de imagenes */

.container-section{
	background: #cccccc;
	margin-top: 5px;
}
.container-background{
	height: 45em;
	position: relative;
}
.steps-container{
	width: 800px;
	background: white;
	border-radius: 1px;
	position: absolute;
	bottom: 55px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

}

/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: white;
}

/* Style the buttons inside the tab */
.tab button {
	font-family: 'Oswald', sans-serif;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 5em;
  transition: 0.3s;
  font-size: 15px;
	border: 1px solid #ddd;

}

/* Create an active/current tablink class */
.tab button.active {
	border-bottom: none !important;
	border-right: none !important;

}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 1.5em 5px 3.5em 5px;
  /* border: 1px solid #ccc; */
  border-top: none;
}
.form-step-one {
	position: relative;
}
.form-step-one ul li {
	display: inline-grid;
}
.form-step-one ul li input {
	border-radius: 5px;
	height: 1.4em;
	padding-left: 5px;
	border: 1px solid #cccccc;
}
.form-step-one ul li select {
	color: #757575;
	border-radius: 5px;
	height: 1.6em;
	padding-right: 5em;
	border: 1px solid #cccccc;
	background: white;
}
.form-step-one ul li button.btn-boolean {
	border-radius: 3px;
	background: white;
	border: 1px solid #cccccc;
}
.form-step-one button.btn-next {
	font-family: 'Oswald', sans-serif;
	border-radius: 15px 15px 0 0;
	background: black;
	padding: 10px 3em;
	color: white;
	cursor: pointer;
	position: absolute;
  bottom: -60px;
	width: 13em;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
/* information container  */
.infromation-container{
	font-family: 'Muli', sans-serif;
	background: #f2f2f2;
	padding: 10px 15em;
	display: grid;
	grid-template-areas:
		'container-left container-left  container-left  container-left container-right';
}

.container-left{
	text-align: center;
	grid-area: container-left;
	display: grid;
	grid-template-areas:
		'one two'
		'one tree'
		'four four';
	grid-gap: 5px;
	padding-right: 10px;
	height: 27em;
}
.container-right{
	grid-area: container-right;
	background: #d0d0d0;

}
.one{
	color: white;
	grid-area: one;
	background: #4d4d4d;
}
.two{
	color: white;
	grid-area: two;
	background: #999999;
}
.tree{
	color: white;
	grid-area: tree;
	background: #999999;
}
.four{
	color: white;
	grid-area: four;
	background: #999999
}
.infromation-container{
	background: #f2f2f2;
	padding: 10px 15em;
	display: grid;
	grid-template-areas:
		'container-left container-left  container-left  container-left container-right';
}

.footer-container{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer{
	background: white;
	font-family: 'Muli', sans-serif;
	font-size: 13px;
	display: grid;
	padding: 5px 15em;
  grid-template-columns: auto auto ;
}
.container-footer-right{
	display: grid;
	grid-template-columns: auto auto ;
	text-align: right;

}

#bodycolor{
	background:#e6e6e6;
	padding: 5px 15em;
}

#seccion .roboto{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.group-title{
	margin: 10px 0;
}
#seccion .grupobusqueda{
  width: 300px;
	background: #f2f2f2;
	display: inline-block;
}
#seccion .lupa{
	width: 32px;
	height: 32px;
	background: gray;
	display: inline-block;
}
#seccion .busqueda{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}
#seccion .buscartam{
	color: black;
	border: none;
	height: 30px;
	width: 250px;
}
#seccion .grupo1{
	background: #f2f2f2;
	padding: 10px;
  margin-bottom: 1em;
}
.grupo2{
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
}
#seccion .grupo2 {
	display: inline-block;
}
#seccion .filtraciones{
	display: inline-block;
}
#seccion .formulario input{
	display: inline-block;
}
#seccion2 {
	font-family: 'Roboto', sans-serif;
}
#seccion2 .ordenamiento{
	display: inline-block;

}
#seccion2 .filtrosA {
	display: inline-block;
	left: 30px;
}
#seccion2 .ordenarpor{
	background: white;
	margin-bottom: 1em;
	padding: 20px 15px;
}

/* Arreglar */

.box{
	background: white;
	display: grid;
	grid-template-columns: auto auto auto;
	position: relative;
}
#seccion3 .fondo {
	background:#424242;
	width: 32px;
	padding: 3px;
}

#seccion3 .column-one{
	margin: 10px;
}
#seccion3 .column-two{
	font-family: 'Ubuntu', sans-serif;
	padding: 2em 0 0 0;

}
#seccion3 .column-tree {
	position: relative;
}

#seccion3 .hotel-image{
	width: 75%;
	height: 160px;
}
#seccion3 .referencias li{
	display: inline-block;
}
#seccion3 .referencias {
	padding: 2em 0 0 0;
}
#seccion3 .referencias ul{
	padding: 0;
}
#seccion3 .show-details{
	border-radius: 5px;
	border: none;
	background: black;
	color: white;
	padding: 5px 15px;
	margin-top: 1em;
	font-size: 13px;
	cursor: pointer;
}
.show-more{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	border: none;
	background: transparent;
	margin: auto;
	display: block;
	cursor: pointer;
}
