/*slector de etiqueta*/
*{
	margin: 0;
}
a {
	text-decoration:none;
}
ul {
	list-style-type: none;
	padding: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	padding-bottom: 5.7em;
	background: #e6e6e6;
}

.header-container {
	font-family: 'Poppins', sans-serif;
}
.top-header{
	background: white;
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 3px
}
.information{
	grid-area: right;
	font-size: 13px;
}
.information li {
	display: inline;

}
.facebook-logo{
	width: 20px
}
.bottom-header {
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	padding: 5px 15em;
	font-family: 'Oswald', sans-serif;
	background: #f2f2f2;
}
 #header .logotipo {
	font-size: 30px;
	color: gray;
}

#logotipo .letra-color{
	color: purple;
	font-size: 30px;
}
#logotipo .letra{
	font-family: 'Poppins', sans-serif;
	color: black;
	font-size: 10px;
}
.prueba {
	color: gray;
	font-size: 30px;
}
.nav-menu nav ul li {
	display: inline-grid;
	color: black;
}
.nav-menu nav ul li a{
	color: black;
	font-size: 13px;
	padding: 5px 1.5em;
}

.search-nav nav ul li {
	display: inline-grid;
	font-family: 'Poppins', sans-serif;
}
.login{
	background: #797979;
	padding: 15px 10px;
	color: white;
}
.register{
	background: #494949;
	padding: 15px 10px;
	color: white;
}
.search{
	background: black;
	padding: 15px 10px;
}

.search img {
	width: 18px
}

.hidden-search{
	display: none;
}

/* Seccion de imagenes */

.container-section{
	background: #cccccc;
	margin-top: 5px;
}
.container-background{
	height: 45em;
	position: relative;
}
.steps-container{
	width: 800px;
	background: white;
	border-radius: 1px;
	position: absolute;
	bottom: 55px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

}

/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: white;
}

/* Style the buttons inside the tab */
.tab button {
	font-family: 'Oswald', sans-serif;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 5em;
  transition: 0.3s;
  font-size: 15px;
	border: 1px solid #ddd;

}
/* .tab button:last-child {
	border-right: none !important;

} */
/* Create an active/current tablink class */
.tab button.active {
	border-bottom: none !important;
	border-right: none !important;
	border-left: none !important;

}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 1.5em 5px 3.5em 5px;
  /* border: 1px solid #ccc; */
  border-top: none;
}
.form-step-one {
	position: relative;
}
.form-step-one ul li {
	display: inline-grid;
}
.form-step-one ul li input {
	border-radius: 5px;
	height: 1.4em;
	padding-left: 5px;
	border: 1px solid #cccccc;
}
.form-step-one ul li select {
	color: #757575;
	border-radius: 5px;
	height: 1.6em;
	padding-right: 5em;
	border: 1px solid #cccccc;
	background: white;
}
.form-step-one ul li button.btn-boolean {
	border-radius: 3px;
	background: white;
	border: 1px solid #cccccc;
}
.form-step-one button.btn-next {
	font-family: 'Oswald', sans-serif;
	border-radius: 15px 15px 0 0;
	background: black;
	padding: 10px 3em;
	color: white;
	cursor: pointer;
	position: absolute;
  bottom: -60px;
	width: 13em;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
/* information container  */
.infromation-container{
	font-family: 'Muli', sans-serif;
	background: #f2f2f2;
	padding: 10px 15em;
	display: grid;
	grid-template-areas:
		'container-left container-left  container-left  container-left container-right';
}

.container-left{
	text-align: center;
	grid-area: container-left;
	display: grid;
	grid-template-areas:
		'one two'
		'one tree'
		'four four';
	grid-gap: 5px;
	padding-right: 10px;
	height: 27em;
}
.container-right{
	grid-area: container-right;
	background: #d0d0d0;

}
.one{
	color: white;
	grid-area: one;
	background: #4d4d4d;
}
.two{
	color: white;
	grid-area: two;
	background: #999999;
}
.tree{
	color: white;
	grid-area: tree;
	background: #999999;
}
.four{
	color: white;
	grid-area: four;
	background: #999999
}
.infromation-container{
	background: #f2f2f2;
	padding: 10px 15em;
	display: grid;
	grid-template-columns:50% 0;
}

.footer-container{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer{
	background: white;
	font-family: 'Muli', sans-serif;
	font-size: 13px;
	display: grid;
	padding: 5px 15em;
  grid-template-columns: auto auto ;
}
.container-footer-right{
	display: grid;
	grid-template-columns: auto auto ;
	text-align: right;

}
/* Second page */

.body-container{
	background:#e6e6e6;
	padding: 5px 15em;
	font-family: 'Poppins', sans-serif;
	border-top: 3px solid white;

}
.container-filter{
	background: #f2f2f2;
	padding: 10px;
  margin: 1em 0;
	display: grid;
	grid-template-columns: 30% auto ;
}
.input-search{
	width: 70%;
	height: 30px;
	border: none;
}
.btn-search{
	border: none;
	padding: 9px 17px;
	background: #9e9e9e;
	cursor: pointer;

}
.btn-search .img-search{
	width: 12px;
}

.section-filter-by{
	background: white;
	margin-bottom: 2.5em;
	padding: 1em;
}
.box-by{
	display: grid;
	grid-template-columns: 20% auto auto;
	position: relative;
}
.list-filter li {
	display: inline-grid;
	padding: 0 1.5em;
	color: black;
}
.list-filter li a{
	color: black;
}
.box{
	background: white;
	display: grid;
	grid-template-columns: 30% auto auto;
	position: relative;
}
.list-filter-btn{
	border: none;
	font-size: 15px;
	font-weight: bold;
	background: none;
	cursor: pointer;
}
#hotel-list .fondo {
	background:#424242;
	width: 32px;
	padding: 3px;
}

#hotel-list .column-one{
	margin: 10px;
}
#hotel-list .column-two{
	font-family: 'Ubuntu', sans-serif;
	padding: 1.5em;

}
#hotel-list .column-tree {
	padding: 1.5em;

}

#hotel-list .hotel-image{
	width: 100%;
	height: 160px;
}
#hotel-list .referencias li{
	display: inline-block;
}
#hotel-list .referencias {
	/* padding: 2em 0 0 0; */
	float: right;
}
#hotel-list .referencias ul{
	padding: 0;
}
#hotel-list .show-details{
	border-radius: 5px;
	border: none;
	background: black;
	color: white;
	padding: 5px 15px;
	margin-top: 1em;
	font-size: 13px;
	cursor: pointer;
}
.show-more{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	border: none;
	background: transparent;
	margin: auto;
	display: block;
	cursor: pointer;
}



@media only screen and (max-width: 1200px) {
		.nav-menu{
			display: none;
		}
    .bottom-header  {
      padding: 5px 1em;
    }
		.infromation-container{
			padding: 10px 2em;
		}
		.footer{
			padding: 5px 2em;
		}
		.body-container{
			padding: 5px 3em;
		}
		.tab button {
			padding: 14px 4em;
		}
		.steps-container{
			width: 700px;
		}
		.form-step-one ul li {
			margin: 10px;
		}

		.description-st{
			font-size: 13px;
		}
}

@media only screen and (max-width: 750px) {
		.box{
			grid-template-columns: none;
		}
		.prueba {
			font-size: 17px;
		}
		#logotipo .letra-color{
			font-size: 17px;
		}
		.infromation-container{
			padding: 10px 1em;
		}
		.footer{
			padding: 5px 1em;
		}
		.search-nav{
			display: none;
		}
		.container-filter {
			margin-top: 10px;
    	grid-template-columns: none;
			font-size: 13px;
		}
		.tab button {
			padding: 14px 1em;
		}
		.steps-container{
			width: 285px;
		}
		.form-step-one ul li {
			margin: 10px;
		}
		.box-by {
    	grid-template-columns: 30% auto auto;
		}
		.footer{
			font-size: 10px;
		}
		.list-filter li a{
			font-size: 12px;
		}
		.body-container{
			padding: 5px 1em;
		}
		.hidden-search{
			display: block;
		}
		.bottom-header{
			grid-template-columns: auto auto;
		}
		.hidden-search-img{
			background: #525252;
			padding:10px;
			float: right;
			border-radius: 5px;
		}
		.hidden-search-img img {
			width: 18px
		}

}
